{
	"test_case_1": {
		"test_name": "test_function_1",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {
				"consumer1": {
					"connection":"connection1",
					"session":"session1"
				}
			}
		},
		"cms_configuration": {
			"connection1": {				
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							},
							"producers": {
								"producer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory":"connection1",
				"message_factory":"session1"
			}
		}
	}
}

