{
	"test_case_1": {
		"test_name": "test_function_1[execution] GainCapital_Execution_V1_Venue_ExecutionReport/SystemMessagingCamelRedpanda - GainCapital_Execution_V1_Venue_ExecutionReport: 32174.167
[execution] GainCapital_Execution_V1_Venue_ExecutionVenueRequest/SystemMessagingCamelRedpanda - GainCapital_Execution_V1_Venue_ExecutionVenueRequest: 49774.000
[market] GainCapital_Market_V2_Market_Market/SystemMessagingCamelRedpanda - GainCapital_Market_V2_Market_Market: 32863.000
[reporting] GainCapital_Reporting_V1_Lightstreamer_TableNotification/SystemMessagingCamelRedpanda - GainCapital_Reporting_V1_Lightstreamer_TableNotification: 50320.200",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {
				"consumer1": {
					"connection":"connection1",
					"session":"session1"
				}
			}
		},
		"cms_configuration": {
			"connection1": {				
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							},
							"producers": {
								"producer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory":"connection1",
				"message_factory":"session1"
			}
		}
	}
}

