{
	"test_case_1": {
		"test_name": "test_function_1",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {
				"consumer1": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test"
				},
				"consumer2": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1
				},
				"consumer3": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"properties": {
						"property": false
					}
				},
				"consumer4": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_file": "test_messages_received.txt"
				},
				"consumer5": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"properties": {
						"property": false
					}
				},
				"consumer6": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt"
				},
				"consumer7": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_file": "test_messages_received.txt",
					"properties": {
						"property": false
					}
				},
				"consumer8": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"property": false
					}
				},
				"consumer9": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "C"
					}
				},
				"consumer10": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "D"
					}
				},
				"consumer11": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "F"
					}
				},
				"consumer12": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "CD"
					}
				},
				"consumer13": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "CF"
					}
				},
				"consumer14": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "DF"
					}
				},
				"consumer15": {
					"connection": "connection1",
					"session": "session1",
					"message_type": "text",
					"receiver_type": "engine-test",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {
						"FEATURE": "CDF"
					}
				}
			}
		},
		"cms_configuration": {
			"connection1": {
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_1"
								},
								"consumer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_2"
								},
								"consumer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_3"
								},
								"consumer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_4"
								},
								"consumer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_5"
								},
								"consumer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_6"
								},
								"consumer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_7"
								},
								"consumer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_8"
								},
								"consumer9": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='C'"
								},
								"consumer10": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='D'"
								},
								"consumer11": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='F'"
								},
								"consumer12": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='CD'"
								},
								"consumer13": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='CF'"
								},
								"consumer14": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='DF'"
								},
								"consumer15": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9",
									"selector": "FEATURE='CDF'"
								}
							},
							"producers": {
								"producer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_1"
								},
								"producer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_2"
								},
								"producer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_3"
								},
								"producer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_4"
								},
								"producer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_5"
								},
								"producer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_6"
								},
								"producer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_7"
								},
								"producer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_8"
								},
								"producer9": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer10": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer11": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer12": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer13": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer14": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								},
								"producer15": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE_9"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			"producer1": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test"
			},
			"producer2": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1
			},
			"producer3": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"properties": {
					"property": false
				}
			},
			"producer4": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine",
				"message_file": "test_message_file1.txt"
			},
			"producer5": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"property": false
				}
			},
			"producer6": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine",
				"message_count": 1,
				"message_file": "test_message_file1.txt"
			},
			"producer7": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine",
				"message_file": "test_message_file1.txt",
				"properties": {
					"property": false
				}
			},
			"producer8": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine",
				"message_count": 1,
				"message_file": "test_message_file1.txt",
				"properties": {
					"property": false
				}
			},
			"producer9": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "C"
				}
			},
			"producer10": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "D"
				}
			},
			"producer11": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "F"
				}
			},
			"producer12": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "CD"
				}
			},
			"producer13": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "CF"
				}
			},
			"producer14": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "DF"
				}
			},
			"producer15": {
				"session_factory": "connection1",
				"message_factory": "session1",
				"message_type": "text",
				"sender_type": "engine-test",
				"message_count": 1,
				"properties": {
					"FEATURE": "CDF"
				}
			}
		}
	}
}