{
	"test_case_1": {
		"test_name": "test_function_1",
		"enabled": true,
		"expected": {
			"exceptions": {
				"connection1": {
					"count": 0
				}
			},
			"messages": {	
				"consumer1": {
					"connection":"connection1",
					"session":"session1"
				},
				"consumer2": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 1
				},
				"consumer3": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt"
				},
				"consumer4": {
					"connection":"connection1",
					"session":"session1",
					"properties" : {"property" : false}
				},
				"consumer5": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"message_count": 1
				},
				"consumer6": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 1,
					"properties": {"property":false}
				},
				"consumer7": {
					"connection":"connection1",
					"session":"session1",
					"message_file": "test_messages_received.txt",
					"properties": {"property":false}
				},
				"consumer8": {
					"connection":"connection1",
					"session":"session1",
					"message_count": 1,
					"message_file": "test_messages_received.txt",
					"properties": {"property":false}
				}
			}
		},
		"cms_configuration": {
			"connection1": {
				"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
				"username": "admin",
				"password": "admin",
				"session": {
					"session1": {
						"auto_ack": true,
						"is_transacted": false,
						"clients": {
							"consumers": {
								"consumer1": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer2": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer3": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer4": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer5": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer6": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer7": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								},
								"consumer8": {
									"dest_type": "queue",
									"address": "CMS_CLIENT_QUEUE"
								}
							}
						}
					}
				}
			}
		},
		"message_parameters": {
			
		}
	}
}