{
	"session1": {
		"auto_ack": true,
		"is_transacted": false,
		"clients": {
			"consumers": {
				"consumer1": {
					"dest_type": "queue",
					"address": "CMS_CLIENT_QUEUE"
				}
			},
			"producers": {
				"producer1": {
					"dest_type": "queue",
					"address": "CMS_CLIENT_QUEUE"
				}
			}
		}
	}
}