{
	"cms_configuration": {
		"connection1": {				
			"broker": "failover:(localhost:5672)?maxReconnectAttempts=5",
			"username": "admin",
			"password": "admin",
			"session": {
				"session1": {
					"auto_ack": true,
					"is_transacted": false,
					"clients": {
						"consumers": {
							"consumer1": {
								"dest_type": "queue",
								"address": "CMS_CLIENT_QUEUE"
							}
						},
						"producers": {
							"producer1": {
								"dest_type": "queue",
								"address": "CMS_CLIENT_QUEUE"
							}
						}
					}
				}
			}
		}
	}
}