{
	"consumer1": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
	}
	"consumer2": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_count": 1
	}
	"consumer3": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_file": "test_messages.txt"
	}
	"consumer4": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"properties" : {"property" : false}
	}
	"consumer5": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_file": "test_messages.txt",
		"message_count": 1
	}
	"consumer6": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_count": 1,
		"properties": {"property":false}
	}
	"consumer7": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_file": "test_messages.txt",
		"properties": {"property":false}
	}
	"consumer8": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_count": 1,
		"message_file": "test_messages.txt",
		"properties": {"property":false}
	}
	"consumer9": {
		"connection":"connection1",
		"session":"session1",
		"message_type" : "text",
		"receiver_type" : "engine",
		"message_file": "test_messages.txt",
		"message_count": 1,
		"properties": {"property":false}
	}
}